<footer id="footer">
      <div class="wrapper">
        <div class="social-links">
          <!-- <a target="_blank" href="" rel="noopener" aria-label="Facebook"><img src="./img/facebook.svg" /></a>
          <a target="_blank" href="" rel="noopener" aria-label="Instagram"><img src="./img/instagram.svg" /></a> -->
          <a target="_blank" href="https://github.com/newtri" rel="noopener" aria-label="Github"><img src="{{ "/assets/github.svg" | relative_url }}"></a>
          <a target="_blank" href="mailto:contacto@quetru.cl?subject=Proyecto%20Newtri" rel="noopener" aria-label="Email"><img src="{{ "/assets/mail.svg" | relative_url }}"></a>
        </div>
        <div class="attribution">
          Newtri® es un proyecto desarrollado por el equipo de <a href="https://medsur.cl/nosotros">MedSur</a>.<br>
          Copyright 2019 Quetru Ltda. Todos los derechos reservados.
        </div>
      </div>
  </footer>